/* CSS Styliing
Programmer : Nathalea Evans, 2101707
*/

@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    max-width:max-content;
    background: url(../assets/purple-stacked-waves.svg) no-repeat;
    background-size: cover;
    background-position: center;
}

/* Navigation Bar */

.header {
    max-width: 1280px;
    
    position: fixed;

    top:0;
    left: 0;
    width: 100%;
    padding: 20px 65px;

    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;

    transition: background-color .3s ease;
}

.logo {
    color: #fbe4d8;

    font-size: 22px;
    font-weight: 700;
    text-decoration: none;

}

.navbar a {
    position: relative;

    color: #fbe4d8;

    margin: 0 16px;
    margin-left: 40px;
    

    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;

    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fbe4d8;

    transition: .3s ease-in-out;
}

.navbar a:hover::before {
    width: 100%;
    cursor: pointer;
}

.navbar {
    flex: 1 1 0%;
    display: none;
    margin: 0 -16px;
    justify-content: flex-end;
}


/*  Mobile */

.hamburger {
    z-index: 1;
    display: block;
    position: relative;

    cursor: pointer;
    user-select: none;

    border: none;
    outline: none;
    appearance: none;
    background: none;
}

.hamburger span {
    z-index: 1;
    width: 20px;
    height: 3px;
    display: block;
    margin-bottom: 5px;
    position: relative;


    border-radius: 6px;
    background-color: #fbe4d8;

    transform-origin: 0 0;

    transition: transform 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: #854f6c;
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
    transform-origin: 0 0;
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
    transform-origin: 0 0;
}

.hamburger.is-active:hover span {
    background-color: #fbe4d8;
}


@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .navbar {
        display: flex;
    }
}

.mobile {
    top: 0;
    left: 100%;
    z-index: 98;
    width: 100%;
    display: block;
    position: fixed;
    min-height: 100vh;
    padding-top: 69px;

    background-color: #2b124c;

    transition: 0.4s;
}

.mobile.is-active {
    left: 0;
}

.mobile a {
    width: 100%;
    display: block;
    max-width: 200px;
    text-align: center;
    padding: 12px 16px;
    border-radius: 99px;
    margin: 0 auto 16px;

    font-size: 18px;
    color: #fbe4d8;
    text-decoration: none;
    background-color: #854f6c;

}

.mobile a:hover {
    background-color: #854f6c;
}

/* Container */

.container {
    margin:  auto;
    margin-top:  15%;

    width: 90vw;
    padding:  60px 20px;

    position: relative;
    display: block;

    border-radius: 10px;

    text-align: center;

    background-color: #fbe4d8;
}

.welcome {
    color: #190019;

    font-size: 3vw;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;

}

img {
    margin-left: auto;
    margin-right: auto;

    width: 45%;
    height: auto;
    display: flex;

}

a {
    color: #190019;
    text-decoration: none;

}

.to-lib {
    font-family: 'Ephesis';
}
